/data
/crawler/node_modules
/backup_data
/src
/notebook
/stock_iboard_crawler/main.py
/pyspark_application/main.py
/pyspark_application/restore_from_backup.py
/articles_crawler/node_modules
/articles_server/node_modules